@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Yellowtail&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{scroll-behavior:smooth;}

:root {
  --text-shadow-header: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.dark {
  --text-shadow-header: 0px 4px 6px rgba(0,0,0,0.5);
}

body{
}

div{
  scroll-margin-top: 78px;
}

.YellowTail{
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}
.RedHat {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
}
.textShadow-header{
  text-shadow: var(--text-shadow-header);
}




@media (max-height: 500px) {
    .heroHiddenSmall{
      display: none;
    }
    .heroFullHeightSmall{
      height: 100%;
    }
}

@keyframes slideUp {
  0% {
    transform: translateY(15px); /* Start with the element 10px lower */
    opacity: 0;                  /* The element is invisible (fully transparent) */
  }
  100% {
    transform: translateY(0);     /* End with the element at its original position */
    opacity: 1;                  /* The element is fully visible */
  }
}

.animate-slide-up {
  animation: slideUp 0.7s ease-in-out forwards;
}


@layer utilities {
  /* BUTTONS */
  .btn_nav {
    @apply px-5 rounded-xl regular-18 hover:text-websiteHighlight-10 transition-all duration-150;
  }
  .btn_nav_social {
    @apply hover:text-websiteHighlight-10 transition-all duration-150;
  }
  .link_dropdown {
    @apply regular-16 flex justify-center py-2 rounded-lg;
  }
  .custom_dropdown_item{
    @apply hover:bg-nav_dd_hover ease-in-out duration-150;
  }
  .link_foreground{
    @apply hover:text-foreground cursor-pointer transition-all duration-150;
  }

  /* COMPONENTS & PAGES */
  .max-container {
    @apply mx-auto max-w-[2000px];
  }
  .max-tile {
    @apply w-full max-w-[1500px];
  }
  
  .padding-nav{
    @apply 
    px-2 sm:px-3 md:px-4 lg:px-6
    py-2;
  }
  .rowCenterV {
    @apply flex flex-row items-center;
  }
  .rowCenterH {
    @apply flex flex-row justify-center;
  }

  .bulletPoint{
    @apply rounded-full min-w-2 min-h-2 opacity-25;
  }

  
  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] ;
  }
  .regular-28 {
    @apply text-[28px] font-[300];
  }

  .regular-24 {
    @apply text-[24px] font-[200];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }
}

@layer base {
  h1 {
    @apply regular-32;
  }
  h2 {
    @apply regular-28;
  }
  h3 {
    @apply regular-24;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
