@tailwind base;
@tailwind components;
@tailwind utilities;

html{scroll-behavior:smooth;}

body{
}
.swiper{
  margin-left: 0px;
  margin-right: 0px;
}
section{
  scroll-margin-top: 64px;
}

@layer utilities {
  /* BUTTONS */
  .btn_nav {
    @apply px-5 rounded-xl regular-18 hover:text-websiteHighlight-10 transition-all duration-200;
  }
  .btn_nav_social {
    @apply hover:text-websiteHighlight-10 transition-all duration-200;
  }
  .link_dropdown {
    @apply regular-16 flex justify-center py-2 rounded-lg;
  }

  /* COMPONENTS & PAGES */
  .max-container {
    @apply mx-auto max-w-[2500px];
  }
  .padding-nav{
    @apply 
    px-2 sm:px-3 md:px-4 lg:px-6
    py-2;
  }
  .rowCenter {
    @apply flex flex-row items-center;
  }

  
  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] ;
  }
  .regular-28 {
    @apply text-[28px] font-[300];
  }

  .regular-24 {
    @apply text-[24px] font-[200];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }
}

@layer base {
  h1 {
    @apply regular-32;
  }
  h2 {
    @apply regular-28;
  }
  h3 {
    @apply regular-24;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
